/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   1.0 
   
-------------------------------------------------------------- */

body { 
/*width:100% !important;*/
width:670px !important;
border: 1px green solid;
margin:0 !important;
padding:0 !important;
line-height: 1.45; 
font-family: Garamond,"Times New Roman", serif; 
color: #000; 
background: none; 
font-size: 12pt; }

/* Headings */
h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }
h1{font-size:19pt; margin: 0;}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:14pt;}


p, h2, h3 { orphans: 2; widows: 2; margin: 4pt;}

code { font: 12pt Courier, monospace; } 
blockquote { margin: 1.2em; padding: 1em;  font-size: 12pt; }
hr { background-color: #ccc; }

/* Images */
img { float: left; margin: 1em 1.5em 1.5em 0; max-width: 100% !important; }
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 700; text-decoration: underline;color:#333; }
a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }

abbr[title]:after { content: " (" attr(title) ")"; }

/* Don't show linked images  */
a[href^="http://"] {color:#000; }
a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after { content: " (" attr(href) ") "; display:none; }

/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
img,tr {page-break-inside: avoid;} 

/* Hide various parts from the site
#header, #footer, #navigation, #rightSideBar, #leftSideBar 
{display:none;}
*/

/**/
.button.btn {
    display: none;
}
.home-back img {
    display: none;
}
.banner-info-left .banner-info-vertical p {
    float: left;
    font-size: 14pt;
}
.banner-info-right > .banner-info-vertical > p > a{
    font-size: 14pt;
}
.modul-filtres form {
    width: 50%;
    float: left;
    height: 130pt;
}

.pagination-lg
{
  display:none;
}

.logo-Ajuntament img {
    width: 100pt;
}
.modul-obra img{
    width: 164pt;
        margin: 4pt 12pt 18pt 4pt;
}
.materials img{
    width: 164pt;
        display: none;
}
*{
  background-color: #fff !important;
}


/*Detail*/
.arrow-up{
  display: none;
}
.detall-img img {
    width: 100%;}
.data-info {
    display: block;
    width: 100%;
}
.data-info p{
  margin: 0;
}
.taller-info.modul-obra {
    width: 100%;
    float: left;
}
