@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body {
  -webkit-print-color-adjust: exact;
  width: 670px !important;
  margin: 0 auto !important;
  padding: 0 !important;
  line-height: 1.45;
  color: #000;
  /*background: none;*/
  font-size: 12pt;
  font-family: 'Open Sans', "Trebuchet MS", Georgia, "Times New Roman", Times, serif; }

@-moz-document url-prefix() {
  body {
    -webkit-print-color-adjust: economy;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important; } }

* {
  background-color: #fff;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  page-break-after: avoid; }

h1 {
  font-size: 13pt;
  margin: 9pt 0 7pt 0; }

h2 {
  font-size: 17pt; }

h3 {
  font-size: 15pt; }

h4, h5, h6 {
  font-size: 14pt; }

p, h2, h3 {
  orphans: 2;
  widows: 2;
  margin: 0 4pt !important; }

a {
  margin: 0; }

code {
  font: 12pt Courier, monospace; }

blockquote {
  margin: 1.2em;
  padding: 1em;
  font-size: 12pt; }

hr {
  background-color: #ccc; }

/* Images */
img {
  float: left;
  margin: 0.5em 0.5em 0.5em 0;
  max-width: 100% !important; }

a img {
  border: none; }

/* Links */
a:link, a:visited {
  background: transparent;
  font-weight: 500;
  text-decoration: none;
  color: #333; }

/*a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }*%

abbr[title]:after { content: " (" attr(title) ")"; }

/* Don't show linked images  */
a[href^="http://"] {
  color: #000; }

a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after {
  content: " (" attr(href) ") ";
  display: none; }

/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {
  content: ""; }

/* Table */
table {
  margin: 1px;
  text-align: left; }

th {
  border-bottom: 1px solid #333;
  font-weight: bold; }

td {
  border-bottom: 1px solid #333; }

th, td {
  padding: 4px 10px 4px 0; }

tfoot {
  font-style: italic; }

caption {
  background: #fff;
  margin-bottom: 2em;
  text-align: left; }

thead {
  display: table-header-group; }

img, tr {
  page-break-inside: avoid; }

.container {
  margin: 0 0 12pt 0;
  float: left;
  width: 100%; }

.retol {
  width: 60%;
  float: left; }
  .retol .retol-text {
    float: left; }
    .retol .retol-text h1 {
      font-size: 13pt; }
  .retol .logo-Ajuntament {
    float: left;
    margin: 10px 0 0 16px; }

.retol-2 {
  width: 40%;
  float: left; }
  .retol-2 .retol-text {
    float: left; }
    .retol-2 .retol-text h1 {
      font-size: 13pt; }

/*BANNER  */
.banner-info.detail.hidden-xs {
  display: none; }

.banner-info.main.hidden-sm.hidden-md.hidden-lg.ng-hide {
  display: block !important;
  float: left;
  width: 100%;
  margin: 7pt 0pt 6pt;
  font-weight: bold;
  font-size: 10pt; }
  .banner-info.main.hidden-sm.hidden-md.hidden-lg.ng-hide .banner-info-vertical {
    width: 100%;
    float: left; }
    .banner-info.main.hidden-sm.hidden-md.hidden-lg.ng-hide .banner-info-vertical p {
      float: left;
      margin: 0pt 5pt 2pt 0pt !important; }
      .banner-info.main.hidden-sm.hidden-md.hidden-lg.ng-hide .banner-info-vertical p a {
        font-weight: bold;
        font-size: 11pt; }

/*FIXES*/
span.valor-info.ng-binding p {
  margin: 0 !important; }

/*DETALLS*/
.detall-info.visible-xs {
  display: block;
  float: left;
  width: 100%; }

.data-info.ng-scope {
  margin: 0 0 7pt 0; }

.detall-info.hidden-xs {
  display: none; }

.detall-info.visible-xs {
  display: block; }
  .detall-info.visible-xs .titol {
    background: #D20019 !important;
    background-color: #D20019 !important;
    color: #fff !important;
    padding: 3px 6pt 4pt;
    float: left;
    width: 100%;
    font-size: 13pt;
    font-weight: 600 !important;
    margin: 0pt 0 6pt; }

.subtitol {
  font-style: italic;
  float: left;
  width: 100%;
  padding: 3pt 0 9pt;
  font-weight: 600;
  font-size: 10pt !important; }

.descripcio {
  float: left;
  width: 100%;
  font-size: 10pt; }

.titol-observacions {
  background: #D20019 !important;
  background-color: #D20019 !important;
  color: #fff !important;
  color: #fff;
  padding: 3px 6pt 4pt;
  float: left;
  width: 100%;
  font-size: 13pt;
  font-weight: 600 !important;
  margin: 27pt 0 6pt; }

.text-observacions {
  float: left;
  width: 100%;
  font-size: 10pt; }

.wrap-text-materials {
  font-size: 10pt;
  float: left;
  width: 100%; }
  .wrap-text-materials .materials img {
    width: 164pt;
    display: none; }
  .wrap-text-materials .text-materials p {
    display: block;
    float: left;
    width: 100%;
    line-height: 1.6; }
    .wrap-text-materials .text-materials p a {
      float: left;
      color: #000 !important; }

/*TALLERS*/
.titol-tallers {
  background: #D20019 !important;
  background-color: #D20019 !important;
  color: #fff !important;
  color: #fff;
  padding: 3px 6pt 4pt;
  float: left;
  width: 100%;
  font-size: 13pt;
  font-weight: 600 !important;
  margin: 27pt 0 6pt; }

.taller-info {
  width: 50%;
  float: left;
  margin: 7pt 0 20pt 0pt;
  padding: 0 0 0 4pt;
  page-break-after: avoid;
  page-break-before: avoid;
  page-break-inside: avoid; }
  .taller-info .taller-foto {
    float: left;
    width: 100%; }
    .taller-info .taller-foto img {
      width: 75pt;
      margin: 0pt 100% 0pt 0pt; }
    .taller-info .taller-foto .taller-titol.ng-binding {
      float: left;
      padding: 4pt 0 0 0;
      font-size: 10pt;
      font-weight: bold; }
  .taller-info .taller-recomanat.ng-binding {
    float: left;
    width: 100%;
    font-size: 10pt; }

.taller-titol {
  float: left;
  font-size: 10pt; }

span {
  margin: 0; }

span.key-info {
  font-weight: bold; }

.home-back {
  display: none; }

img#logotip {
  display: block;
  float: left;
  margin: 0 auto;
  width: 60px; }

.torna {
  display: none; }

.button, button {
  display: none; }

.home-back img {
  display: none; }

.modul-filtres form {
  width: 50%;
  float: left;
  height: 130pt; }

.pagination-lg {
  display: none; }

.logo-Ajuntament img {
  /* width: 100pt;*/ }

/*Detail*/
.arrow-up {
  display: none; }

.detall-img {
  width: 50%;
  float: left; }
  .detall-img .detall-img img {
    width: 100%; }

.detall-img-info {
  width: 50%;
  float: left;
  padding: 6pt 6pt 6pt 12pt;
  font-size: 10pt;
  background-color: #fff !important;
  box-sizing: border-box; }

.banner-info.detail.visible-xs {
  display: none; }

.peu {
  display: none; }
