/* -------------------------------------------------------------- 
  
 Hartija Css Print  Framework
   * Version:   1.0 
   
-------------------------------------------------------------- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
body { 
/*width:100% !important;*/
width:670px !important;
margin:0 auto !important;
padding:0 !important;
line-height: 1.45; 
font-family: font-family: 'Open Sans', Garamond, "Times New Roman", serif; 
color: #000; 
background: none; 
font-size: 12pt; }

/* Headings */
h1,h2,h3,h4,h5,h6 { page-break-after:avoid; }
h1{
    font-size: 17pt;
    margin: 9pt 0 7pt 0;
}
.titol-tallers{
    font-size: 16pt;
    margin: 10pt 0 4pt 0;
    page-break-after:avoid;
    font-weight: 600;
}
h2{font-size:17pt;}
h3{font-size:15pt;}
h4,h5,h6{font-size:14pt;}


p, h2, h3 { orphans: 2; widows: 2; margin: 0 4pt !important;}

code { font: 12pt Courier, monospace; } 
blockquote { margin: 1.2em; padding: 1em;  font-size: 12pt; }
hr { background-color: #ccc; }

/* Images */
img { 
  float: left; 
      margin: 0.5em 0.5em 0.5em 0;
  max-width: 100% !important; 
}
a img { border: none; }

/* Links */
a:link, a:visited { background: transparent; font-weight: 500; text-decoration: none;color:#333; }
/*a:link[href^="http://"]:after, a[href^="http://"]:visited:after { content: " (" attr(href) ") "; font-size: 90%; }*%

abbr[title]:after { content: " (" attr(title) ")"; }

/* Don't show linked images  */
a[href^="http://"] {color:#000; }
a[href$=".jpg"]:after, a[href$=".jpeg"]:after, a[href$=".gif"]:after, a[href$=".png"]:after { content: " (" attr(href) ") "; display:none; }

/* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol .. taken from html5boilerplate */
a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}

/* Table */
table { margin: 1px; text-align:left; }
th { border-bottom: 1px solid #333;  font-weight: bold; }
td { border-bottom: 1px solid #333; }
th,td { padding: 4px 10px 4px 0; }
tfoot { font-style: italic; }
caption { background: #fff; margin-bottom:2em; text-align:left; }
thead {display: table-header-group;}
img,tr {page-break-inside: avoid;} 

/* Hide various parts from the site
#header, #footer, #navigation, #rightSideBar, #leftSideBar 
{display:none;}
*/

/**/
.retol{
    width: 100%;
}
.retol-2{
    width: 100%;
}

span {
    margin: 0 4pt;
}
span.key-info {
    font-weight: bold;
}

.logo-Ajuntament {
    display: none;
}

.home-back {
    display: none;
}
img#logotip {
    display: block;
    float: left;
    margin: 0 auto;
    width: 60px;
}
.torna {
    display: none;
}
.button, button {
    display: none;
}
.home-back img {
    display: none;
}



.banner-info.main.hidden-sm.hidden-md.hidden-lg {
    display: block;
    float: left;
    width: 100%;
}
.banner-info.detail.visible-xs {
    margin: 12pt 0;
}
.banner-info.detail.hidden-xs {
    display: none;
}
.banner-info-left {
    display: block;
    width: 100%;
    float: left;
}
.banner-info-left .banner-info-vertical p {
    float: left;
    font-size: 12pt;
    font-weight: bold;
}
.banner-info-vertical p {
    float: left;
}
.banner-info-right > .banner-info-vertical > p > a{
    font-size: 14pt;
}





.modul-filtres form {
    width: 50%;
    float: left;
    height: 130pt;
}

.pagination-lg
{
  display:none;
}

.logo-Ajuntament img {
    width: 100pt;
}
.modul-obra img{
    width: 75pt;
    margin: 4pt 12pt 18pt 4pt;
}




.materials img{
    width: 164pt;
        display: none;
}
.text-materials.ng-scope p.ng-scope a.ng-binding {
    color: #000 !important;
}


*{
  background-color: #fff !important;
}


/*Detail*/
.arrow-up{
  display: none;
}
.titol-observacions{
    font-weight: bold;
}
.text-observacions ul {
    margin: 0;
    padding: 0 0 0 15pt;
}





.titol.ng-binding.ng-scope {
    line-height: 16pt;
    font-weight: bold;
    margin: 14pt 0 0 0;
}
.titol.ng-binding.ng-scope {
    line-height: 16pt;
    font-weight: bold;
    margin: 14pt 0 4pt 0;
    font-size: 14pt;
}
.detall-info.visible-xs {
    line-height: 12pt;
    float: left;
    margin: 14pt 0 0pt 0;
    width: 100%;
    font-size: 15pt;
}
.detall-img {
    width: 100%;
    float: left;
}
.detall-img img {
    width: 50%;
}
.data-info {
    display: block;
    width: 100%;
    margin: 0pt;
}
.data-info p{
  margin: 0;
}
.taller-info.modul-obra {
    width: 49%;
    float: left;
}


.titol-observacions {
    margin-top: 10pt;
}


