@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import "../bower_components/normalize-css/normalize.css";

$ContainerPhone: 460px;
$screen-is: 480px;
$screen-is-min: ($screen-is);
$screen-is-max: 767px;
$screen-xs-max: ($screen-is-min - 1);

@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.popover{
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  width: 95% !important;
  max-width: 100% !important;
  padding:0px;
}

a:hover{
  cursor: pointer;
}

@import "_grids.scss";  
@import "../bower_components/font-awesome/scss/font-awesome.scss";
@import "../bower_components/magnific-popup/dist/magnific-popup.css";

$red-color: #D20019;
$grey-color: #383838;
$soft-grey: #E2E2E2;
.grey{ background-color: $grey-color; }
.white{ background-color: #fff; }
.red{ background-color:  $red-color;}


@mixin transition($time){
  -webkit-transition: all $time ease-in-out;
  -moz-transition: all $time ease-in-out;
  -ms-transition: all $time ease-in-out;
  -o-transition: all $time ease-in-out;
  transition: all $time ease-in-out;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

html{
  height: 100%;
}
body {
  min-width: 325px;
  font-family: 'Open Sans', sans-serif;
  background-color: #F3F3F3; //#F3F3F3;
  font-size: 13px;
  height: 100%;

  *{
    -moz-box-sizing: border-box;
  }

  .frame-load {
    min-height: 100%;
    height: 100%;
    .load-gears{
      width: 50px;
      height: 50px;
      margin: -50px auto;
      @include vertical-align;
    }  
  }


  h1, .h1 {
    font-size: 27px;
  }
  p{
      overflow: hidden;
  }

  .capcalera-back{
    background-color: $soft-grey;
    padding: 0 0 26px 0;
    margin: 0;
  }

  /*RETOLS*/
  .home-back {
    margin: 0px;
    display: block;
    width: 46px;
    float: left;
    background-color: $red-color;
    padding: 13px 15px;
    height: 48px;
    border-right: #FF0F2C 1px solid;
    border-bottom: #990113 1px solid;
  }
  .retol{
        width: 50%;
        float: left;
        padding: 0px 0px 0px 0px;
        margin: 0px;
        color: #fff;
        height: 48px;
        overflow: hidden;

        .retol-text{
          float: left;
          border-left: 0px solid #DFDFDF;
          h1{
            text-decoration: none;
            letter-spacing: -1px;
            line-height: 26px;
            margin: 0;
            font-size: 23px;
            padding: 11px 0px 0px 8px;
            color: $grey-color;
            font-family: 'Open Sans', sans-serif;
            font-weight:700;
            text-rendering: optimizeLegibility;          
          } 
        }
  }
  .retol-2{
    width: 50%;
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border-top: 1px solid #E5011D;
    height: 48px;
    overflow: hidden;
    a{
      text-decoration: none;
    }   
    h1{
      letter-spacing: -1px;
      line-height: 26px;
      margin: 0;
      font-size: 23px;
      padding: 10px 8px 11px;
      color: #fff;
      font-family: 'Open Sans', sans-serif;
      font-weight:700;
      text-rendering: optimizeLegibility;    
    } 
  }


  .logo-Ajuntament {
    display: block;
    margin: 0px;
    width: 105px;
    float: right;
  }
  .icones-socials {
    float: right;
    margin-top: 35px;
  }
  .icones-socials span {
    display: block;
    width: 36px;
    height: 36px;
    background-color: #ccc;
    float: left;
    margin-left: 5px;
    color: #fff;
    text-align: center;
  }
  .icones-socials span:hover {
     background-color: #333;
  }
  .icones-socials span a {
    display: block;
    color: #fff;
    height: 36px;
    padding-top: 3px;
  }
  .icones-socials span.facebook a {
    padding-top: 4px;
  }
  .icones-socials span.mail a {
    padding-top: 6px;
  }
  .icones-socials span.mail a i {
    font-size: 1.5em;
  }
  .idioma {
    margin-top: 35px;
    float: right;
    font-weight: 700;
  }
  .idioma .btn {
    background-color: #fff;
    color: #999;
    border: none;
  }
  .idioma .btn.active {
    box-shadow: none;
    background-color: $red-color;
    color: #fff;
    border-radius: 4px;
  }
  .idioma .btn.active:hover {
    background-color: $red-color;
  }
  .idioma .btn:hover {
    background-color: #000;
    color: #fff;
  }

  .iframe-banner {
    position: relative;
    padding-bottom: 16%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }
  .iframe-banner iframe,
  .iframe-banner object,
  .iframe-banner embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .cap-xs {
    background-color: $red-color;
    margin: 6px 0px 5px 0;
    text-align: center;
    padding: 4px 20px;
    font-size: 17px;
    color: #FFF;
    background-image: none;
    border: none;
    margin-bottom: 0px;
    float: right;
    &:hover,
    &:focus {
      background-color: $red-color;
    }
    &:after {
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
      content: "\f054"; /*"\f078";*/
      margin-left: 10px;
    }
    &.highlight:after {
      content: "\f077";
    }  
  }


  /*BANNERS*/
  .materials {
    background-color: rgba(0, 0, 0, 0);
  }

  .banner-info.main {
    margin: 15px 0px;
    // color: #FFF;
    height: 180px;
    float: left;
    width: 100%;
    background-color: #4a4a4a;
    background-image: -moz-linear-gradient(top,#535353,#3c3c3c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#535353),to(#3c3c3c));
    background-image: -webkit-linear-gradient(top,#535353,#3c3c3c);
    background-image: -o-linear-gradient(top,#535353,#3c3c3c);
    background-image: -ms-linear-gradient(top,#535353,#3c3c3c);
    background-image: linear-gradient(to bottom,#535353,#3c3c3c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff535353',endColorstr='#ff3c3c3c',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

    .banner-info-left {
      width: 50%;
      float: left;
      position: relative;
      height: 100%;
      padding: 3% 0;
      .banner-info-round{
        margin: 0 auto;
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-image: url('../img/white-circle-np.png');
        .banner-info-vertical{
          @include vertical-align;
          p {
            color: #383838;
            font-weight: 700;
            text-align: center;
            margin: 0;
            text-align: center;
            font-size: 18px;        
          }        
        }         
      }
     
    }
    .banner-info-right {
      width: 50%;
      float: left;
      position: relative;
      height: 100%;
      .banner-info-vertical{
        @include vertical-align;
        p {
          margin: 0;
          text-align: center;
          font-weight: 700;
          margin: 0;
          font-size: 18px;
          color: #fff;
          a{
            color:#fff;
            i.fa.fa-phone {
              font-size: 17px;
            }
            i.fa.fa-envelope {
              font-size: 14px;
              margin-right: 2px;
            } 
          }
        }         
      }
    }
  }
  .banner-info.detail {
    margin: 15px 0px;
    color: #FFF;
    height: 121px;
    float: left;
    width: 100%;
    background-color: #4a4a4a;
    background-image: -moz-linear-gradient(top,#535353,#3c3c3c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#535353),to(#3c3c3c));
    background-image: -webkit-linear-gradient(top,#535353,#3c3c3c);
    background-image: -o-linear-gradient(top,#535353,#3c3c3c);
    background-image: -ms-linear-gradient(top,#535353,#3c3c3c);
    background-image: linear-gradient(to bottom,#535353,#3c3c3c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff535353',endColorstr='#ff3c3c3c',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);    
    
    .banner-info-left {
      width: 45%;
      float: left;
      position: relative;
      height: 100%;
      padding: 4% 0;
      .banner-info-round{
        margin: 0 auto;
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-image: url('../img/white-circle-np.png');
        
        .banner-info-vertical{
          @include vertical-align;
          // top: 49%\9; 
          p {
            color: #383838;
            font-weight: 700;
            text-align: center;
            margin: 0;
            text-align: center;
            font-size: 14px;        
          }        
        }

      }

    }
    .banner-info-right {
      width: 55%;
      float: left;
      position: relative;
      height: 100%;
      .banner-info-vertical{
        @include vertical-align;
        // top: 50%\9;
        p {
          margin: 0;
          text-align: center;
          font-weight: 700;
          margin: 0;
          font-size: 14px;
          color: #fff;
          a{
            color:#fff;
          }
        }         
      }
    }
  }



  /*FILTRES*/
  .modul-filtres {

    .cap {
      background-color: $red-color;
      margin: 0;
      text-align: center;
      padding: 0px 10px; //padding: 15px 10px;
      font-size: 24px;
      color: #fff;
      font-weight: 400;
    }

    /*FORM CERCADOR*/
    .form-cercador {
      padding: 20px 0 0;
      input {
        font-size: 15px;
        font-weight: 500;
        margin: 32px 0 0 0;
        width: 100%;
        border: 1px solid $soft-grey;
        background: #FFF url("../img/lupa.png") right 4px no-repeat;
        padding: 7px 0px 8px 13px;
      }
    }

    .form-group {
      margin: 15px 15px 15px 0;
      float: left;
      width: 100%;

      i.fa.fa-caret-right.area-1 {
        // color: $color-area-1;
        font-size: 19px;
      }
      i.fa.fa-caret-right.area-2 {
        // color: $color-area-2;
        font-size: 19px;
      }
      i.fa.fa-caret-right.area-3 {
        // color: $color-area-3;
        font-size: 19px;
      }
      .banner{
        float: left;
        width: 48px;
        background-color: $red-color; 
        margin-bottom: -99999px; 
        padding-bottom: 99999px;   
        div.rota{
          color: #FFF;
          font-size: 18px;
          font-weight: 600;
          width: 107px;
          margin: 55px -30px 11px;

          text-align: right;
          -webkit-transform: rotate(270deg);
          -moz-transform: rotate(270deg) ;
          -o-transform: rotate(270deg);
          -ms-transform: rotate(270deg); 
          transform: rotate(270deg);
        } 
      }
      div.rotate > div {
        transform: 
          /* Magic Numbers */
          translate(25px, 51px)
          /* 45 is really 360 - 45 */
          rotate(-90deg);
        width: 30px;
      }

      .filtre-seleccio{
          background-color: #FFF;
          width: 100%;
          float: left;
          overflow: hidden;

          span {
            font-size: 18px;
            display: block;
            /*margin-bottom: 20px;*/
            font-weight: 600;
          }   

          ul {
            margin: 0;
            /*padding: 8px 0 0 10px;*/
            padding-left: 0;
            margin-bottom: -99999px;
            padding-bottom: 99999px;
            float: left;
            li {
              list-style-type: none;
              margin: 8px 0px 9px 10px;
              label {
                margin-top: 5px;
                display: inline;
              }
            } 
          }
      }

 
      .filtre-seleccio ul li [type="checkbox"]:not(:checked),
      .filtre-seleccio ul li [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
      }
      .filtre-seleccio ul li [type="checkbox"]:not(:checked) + label,
      .filtre-seleccio ul li [type="checkbox"]:checked + label {
        position: relative;
        padding-left: 31px;
        cursor: pointer;
        font-size: 15px;
        font-weight: 600;
        margin: 0;
        padding-top: 3px;
        display: inline;
      }
      .filtre-seleccio ul li [type="checkbox"]:not(:checked) + label:before,
      .filtre-seleccio ul li [type="checkbox"]:checked + label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 2px;
        width: 24px;
        height: 24px;
        border: 2px solid $soft-grey;
        background: #fff;
        border-radius: 4px;
        display: inline;
      }
      .filtre-seleccio ul li [type="checkbox"]:not(:checked) + label:after,
      .filtre-seleccio ul li [type="checkbox"]:checked + label:after {
        display: inline;
        font: normal normal normal 18px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        transform: translate(0, 0);
        content: '\f00c';
        position: absolute;
        top: 5px;
        left: 4px;
        color: $grey-color;
        transition: all .2s;
      }
      .filtre-seleccio ul li [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
        transform: scale(0);
        display: inline;
      }
      .filtre-seleccio ul li [type="checkbox"]:checked + label:after {
        opacity: 1;
        transform: scale(1);
        display: inline;
      }
      .filtre-seleccio ul li label:hover:before {
        border: 2px solid #999!important;
        display: inline;
      }

    }
  }
  .header-resultats{ 
    width: 100%;
    float: left;
    margin: 10px 0 10px 0;

    p {
      font-size: 17px;
      font-weight: 200;
      margin: 0;
      float: left;
      strong {
        font-weight: 400;
      }
    }
   
    .selectorVista {
      float: right;
      margin-bottom: 10px;

      span {
        font-weight: 400;
        font-size: 16px;
        color: #666;
        display: table-cell;
        vertical-align: middle;
        padding-right: 10px;
      }
      .canviVista {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: table-cell;
        li {
          float: left;
          margin-left: 1px;
          &.current a {
            // background-color: $red-color;
          }
          &.current a:hover {
            // background-color: $red-color;
          }
          &.current a i {
            color: $red-color;
          }

          a {
          display: block;
          height: 100%;
          text-align: center;
          text-decoration: none;
            i{
                color: #F2F2F2;
                font-size: 25px;
                margin: 0 0 0 11px;
            }
          }
          a:hover {
            background-color: #000;
            i {
              color: #fff;
            }
          }
        }
      }
    }
  }

  /*LEFT COL DETALL*/
  .detall-img {
    position: relative;
    .peu-info {
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.44);
      width: 100%;
      color: #FFF;
      padding: 10px 12px;
    }
  }
  .detall-img-info{
    position: relative;
    padding: 23px 15px 15px;
    color: #fff;
    font-weight: 700;
    background-color: #E2E2E2;
    a{
      color: #FFF;
      &:hover, &:focus {
        text-decoration: underline;
      }      
    }


    .data-info {
      margin: 0 0 16px 0;
    }

    .key-info{
      color: $grey-color;
        margin: 0 1px 0 0;
    }
    .valor-info{
      color: #fff;
      a {
        text-decoration: underline;
      }
    }
  }


  /*MATERIALS LIST*/
  .materials-info{
    background-color: #fff;

    .materials-info-titol{
      font-weight: 600;
      font-size: 17px;
      background-color:$red-color;
      color: #FFF;
      padding: 9px 14px;
      line-height: 22px;
    }

    .materials-info-links{
      padding: 9px 15px;

      p{
        padding: 4px 0 4px 2px; 
        a{
          color: #333333;
        }
        i.fa {
          margin: 0 2px 0 0;
        }                  
      }

      .materials-info-categoria { 
        padding: 4px 0 8px;
        display: block;
        font-size: 16px;
        font-weight: 600;
      }

    }
  }
  /*DETALL*/
  .detall-info{

    p{
      line-height: 22px;
    }
    .titol{
      font-weight: 600;
      font-size: 17px;
      background-color:$red-color;
      color: #FFF;
      padding: 9px 35% 9px 15px;
      line-height: 22px;
      -webkit-border-radius: 4px 4px 4px 4px;
      border-radius: 4px 4px 4px 4px;
    }
    .subtitol{
      padding: 10px 15px 5px;
      font-size: 15px;
      font-weight: 600;
    }
    .descripcio{
      p {
        line-height: 22px;
        padding: 2px 15px;
        font-size: 13px;
      }    
    }
  }

  .taller{
      padding: 15px;

      .titol-tallers{
        font-weight: 600;
        text-align: center;
        background-color: $grey-color;
        color: #FFF;
        padding: 6px 12px;
        margin: 0 0px;
        font-size: 17px;
        -webkit-border-radius: 4px 4px 4px 4px;
        border-radius: 4px 4px 4px 4px;
      }

      .taller-info {
        margin: 13px 0;
        position: relative;
        background-color: #808080;
        .taller-foto {
          position: relative;
          .taller-plus {
            position: absolute;
            top: 5%;
            right: 8%;
            font-size: 36px;
            z-index: 1000;
            a:hover{
              cursor: pointer;
            }
            .glyphicon {
              position: relative;
              top: 1px;
              display: inline-block;
              font-family: 'Glyphicons Halflings';
              font-style: normal;
              font-weight: 600;
              line-height: 1;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
              .back-white {
                z-index: -1;
                background-color: #FFF;
                width: 22px;
                height: 22px;
                position: absolute;
                top: 18%;
                left: 21%;
              }        
            }

          }
          .taller-titol {
            position: absolute;
            color: #FFF;
            left: 0;
            font-weight: 700;
            background-color: rgba(0, 0, 0, 0.45);
            width: 100%;
            bottom: 0;
            padding: 5px 8px;
            height: 23%;
          }
        }
        .taller-recomanat {
          background-color: #808080;
          color: #000;
          padding: 10px 8px;
        }
      }    
  }


  /*RIGHT COL DETALL*/
  .titol-bar{
    font-weight: 600;
    font-size: 17px;
    background-color:$red-color;
    color: #FFF;
    padding: 9px 15px;
    line-height: 1.2;
  }
  .titol-observacions{
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    padding: 11px 15px;
    line-height: 1.2;  
  }
  .text-observacions{
    background-color: #fff;
    color: $grey-color;
    padding: 12px 12px 43px;
    font-size: 13px;
    line-height: 22px;
    ul {
        padding: 0 0 0 16px;
        list-style-type: square;
      li {
        margin: 0 0 0px 0;
      }
    }
  }
  .wrap-text-materials{
    background-color:#fff;
    padding: 8px 12px 44px;
    .text-materials{
      font-size: 13px;
      line-height: 22px;
      p{
        margin: 9px 0;
        i.fa {
          margin: 0 3px 0 1px;
        }
        a{
          margin: 5px 0;
        }
      }
    }    
  }


  /*TRIANGLES*/
  .arrow-up {
    position: absolute;
    left: 50%;
    top: -14px;
    margin: 0 -15px;
    width: 0px;
    height: 0px;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
  }

  .modul-obra {
    position: relative;
    margin: 0 0 6% 0;
    background-color: #D6D6D6;

    .imatge-modul-obra {
      background-color: #F9F9F9;
      padding: 0px;
    }
    .imatge-modul-obra:hover {
      // border: 1px #666 solid;
    }
    .R-infoDestacat .titol {
      margin: 7px 0;
      font-size: 18px;
      font-weight: 400;
      color: #111;
      line-height: 1.25;
    }
    .R-infoDestacat .titol a {
      color: #111;
    }

    }
    .detalls-obra {
      @include transition(0.3s);
      opacity: 1;
      position: absolute;
      top: 70%; 
      left: 0;
      width: 100%;
      height: 100%;
      padding: 11px 10px 20px 15px;
      .detall-titol{
        position: absolute;
        top: 0%;
        left: 0;
        z-index: 10054;
        width: 100%;
        color: #FFF;
        padding: 7px 10px 0px;
        font-size: 15px;
        font-weight: 600;
        overflow: hidden;
        height: 29%;
        p{
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; 
          overflow: hidden;
          text-overflow: ellipsis; 
        }
      }
      .detall{
        position: absolute;
        top: 32%;
        padding: 0 54px 0 10px;
        width: 100%;
        left: 0;
        p{
          font-size: 13px;
          color: #FFF;
          font-weight: 600;
          margin: 0;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          line-height: 1.5; 
      
        }
      } 
      .detall-plus {
        position: absolute;
        top: 83%;
        left: 86%;
        z-index: 10000;
        font-size: 39px;
        margin: -20px -13px;
        a i.glyphicon{
          font-weight: 600;
        }
        .back-white {
          z-index: -1;
          background-color: #FFF;
          width: 25px;
          height: 25px;
          position: absolute;
          top: 20%;
          left: 21%;
      }     
    }

    }
    .detalls-obra.veure-detalls {
      top: 0%;
      @include transition(0.2s);
    }

  .modul-obra-llista {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px #eee solid;
  }

  .modul-obra-llista .detalls-obra {
    margin-left: 30px;
  }
  .modul-obra-llista .detalls-obra p {
    font-size: 16px;
    font-weight: 400;
    color: #666;
  }

  .modul-paginacio {
    margin: 20px 0;
    padding-top: 0px;
  }
  .modul-paginacio p {
    text-align: center;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 200;
    color: #666;
  }
  .modul-paginacio .pager li > a,
  .modul-paginacio .pager li > span {
    padding: 7px 15px;
    border: none;
    border-radius: 0;
    background-color: #eee;
    color: #ccc;
  }
  .modul-paginacio .pager li > a:hover,
  .modul-paginacio .pager li > span:hover {
    background-color: #666;
    color: #fff;
  }
  .modul-paginacio .pager li.active a {
    background-color: #000;
    color: #fff;
  }
  .modul-paginacio .pager li.disabled a:hover {
    background-color: #eee;
  }
  .modul-paginacio .pagination-lg > li > a,
  .modul-paginacio .pagination-lg > li > span {
    font-weight: 400;
    cursor: pointer;
  }


  .peu-back{
    background-color: $soft-grey;
    .peu {
      margin-top: 41px;
      .footer, footer{
        p{
          text-align: center;
          padding: 40px 0 38px;
          font-size: 12px;
          font-weight: 400;
          color: #666;
          a {
            color: #666666;
            text-decoration: underline;
          }
        }
      }      
    }
  }

  .navegacio-top {
    padding: 13px 0px 10px;
    margin-bottom: 2px;
    display: block;
    a {
      font-size: 15px;
      color: #383838;
    }

    i {
      font-size: 14px;
      margin-right: 0px;
      margin-top: 5px;
    }
  }
  .navegacio-top a:hover, .navegacio-top a:visited, .navegacio-top a:focus{
    text-decoration: none;
    color: #666;
  }
  .navegacio-top 
  .item-obra .R-infoFitxa {
    border-bottom: 1px #DBDDE3 solid;
    margin-bottom: 15px;
    padding-bottom: 15px;
    display: table;
    width: 100%;
  }

  .loader {
    margin: 0 0 2em;
    height: 100px;
    width: 20%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: inline-block;
    vertical-align: top;
  }
  .loader svg path,
  .loader svg rect {
    fill: #cc0000;
  }


  .scrollToTop{
    width: 44px;
    height: 41px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    position: fixed;
    bottom: 22px;
    right: 40px;
    display: none;
    background: rgba(56, 56, 56, 0.52);
    background-color: rgba(56, 56, 56, 0.46);
    background /*\**/: #292929\9;
    background-color /*\**/: #292929\9;
    border-radius: 3px 3px 3px 3px;
    z-index: 1000000;
  }
  .scrollToTop:hover{
    text-decoration:none;
    background: #292929;
    background-color: #292929;    
  }
} 

/*IE8*/
html.ie8{

  div.rota{
    color: green;
    font-size: 18px;
    font-weight: 600;
    width: 107px;
    margin: 15px 10px 11px;
    text-align: right;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg) ;
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg); 
    filter : progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -ms-filter : progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform: rotate(270deg);
  } 

  .banner-info.main {
    .banner-info-left {
      width: 50%;
      float: left;
      position: relative;
      height: 100%;
      padding: 3% 0;
      .banner-info-round{
        margin: 0 auto;
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;
        background-position: center;
        // background-image: url('../img/white-circle-np.png');
        background-image: none;
        .banner-info-vertical{
          @include vertical-align;
          top: 25%;
          p {
            color: #ffffff;
            font-weight: 700;
            text-align: center;
            margin: 0;
            text-align: center;
            font-size: 18px;        
          }        
        }         
      }
     
    }
    .banner-info-right {
      padding /*\**/: 9% 0 \9;
      width: 50%;
      float: left;
      position: relative;
      height: 100%;
      .banner-info-vertical{
        @include vertical-align;
        top /*\**/: 4%\9;
        p {
          margin: 0;
          text-align: center;
          font-weight: 700;
          margin: 0;
          font-size: 18px;
          color: #fff;
          a{
            color:#fff;
            i.fa.fa-phone {
              font-size: 17px;
            }
            i.fa.fa-envelope {
              font-size: 14px;
              margin-right: 2px;
            } 
          }
        }         
      }
    }
  }

  .banner-info.detail {
    margin: 15px 0px;
    color: #FFF;
    height: 121px;
    float: left;
    width: 100%;
    background-color: #4a4a4a;
    background-image: -moz-linear-gradient(top,#535353,#3c3c3c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#535353),to(#3c3c3c));
    background-image: -webkit-linear-gradient(top,#535353,#3c3c3c);
    background-image: -o-linear-gradient(top,#535353,#3c3c3c);
    background-image: -ms-linear-gradient(top,#535353,#3c3c3c);
    background-image: linear-gradient(to bottom,#535353,#3c3c3c);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff535353',endColorstr='#ff3c3c3c',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);    
    
    .banner-info-left {
      width: 45%;
      float: left;
      position: relative;
      height: 100%;
      padding: 4% 0;
      .banner-info-round{
        margin: 0 auto;
        background-repeat: no-repeat;
        height: 100%;
        background-size: contain;
        background-position: center;
        background-image: url('../img/white-circle-np.png');
        background-image: none;

      }
      .banner-info-vertical{
        @include vertical-align;
        top: 19%;
        p {
          color: #383838;
          color: #ffffff;
          font-weight: 700;
          text-align: center;
          margin: 0;
          text-align: center;
          font-size: 14px;        
        }        
      }
    }
    .banner-info-right {
      width: 55%;
      float: left;
      position: relative;
      height: 100%;
      .banner-info-vertical{
        @include vertical-align;
        top: 25%;
        p {
          margin: 0;
          text-align: center;
          font-weight: 700;
          margin: 0;
          font-size: 14px;
          color: #fff;
          a{
            color:#fff;
          }
        }         
      }
    }
  }


}


/*MEDIA QUERIES*/
@media (min-width: 0px) and (max-width:479px){
  body{
    .capcalera-back{
      .container{
        width: 100%;
        padding: 0;
        .row{
          padding: 0;
        }
      }      
    }

    .retol{
      width: 100%;
      .retol-text{
        h1{
          padding: 11px 8px;
          font-size: 16px;
        }
      }        
      .logo-Ajuntament{
        width: 79px;
      }         

    }

    .retol-2{
      width: 100%;
      border-bottom: 1px solid #AD0318;
      .retol-text{
        h1{
          font-size: 16px;
        }
      }
    }

    .banner-info.main{
      height: 110px;
      margin: 0;
      border-top: 1px solid #636363;
      .banner-info-left{
        padding: 2% 0;
        .banner-info-round {
          .banner-info-vertical{
            @include vertical-align;

            p{
              font-size: 13px;
              font-weight: 700;
              a{
                font-size: 13px;
              }
            } 
          }         
        }
      }
      .banner-info-right{
        .banner-info-vertical{
          @include vertical-align;

          p{
            font-size: 13px;
            font-weight: 700;
            a{
              font-size: 13px;
            }
          }
        }  
      }
    } 

    &.fitxa .banner-info.main.hidden-sm.hidden-md.hidden-lg{
      display: none;
    }       

    .sidebar-offcanvas {
      display: none;
    }
    .sidebar-offcanvas.active {
      // @include transition(0.2s);
      display: block;
    }
    
    .detall-info .titol {
      padding: 9px 15px;
      margin: 0 0 10px 0;
    }    
  }
}

@media (min-width: 480px) and (max-width:767px){
  body{
    .capcalera-back{
      .container{
        width: 100%;
        padding: 0;
        .row{
          padding: 0;
        }
      }      
    }    

    .container{
       width: 100%;
    }

    .banner-info.main{
      height: 110px;
      margin: 0;
      border-top: 1px solid #636363;
      .banner-info-left{
        padding: 1% 0;
        .banner-info-round {
          width: 56%;
          margin: 0;
          float: right; 
          .banner-info-vertical{
            @include vertical-align;

            p{
              font-size: 13px;
              font-weight: 700;
              a{
                font-size: 13px;
              }
            } 
          }         
        }
      }
      .banner-info-right{
        .banner-info-vertical{
          @include vertical-align;

          width: 56%;
          p{
            font-size: 13px;
            font-weight: 700;
            a{
              font-size: 13px;
            }
          }
        }  
      }
    } 

    .banner-info.detail{
      height: 130px;
      margin: 13px 0 0 0;
      .banner-info-left{
          height: 100%;
          width: 45%;
          padding: 4% 2%;
        .banner-info-round{
          p{
            font-size: 12px;
          }          
        } 
      }
      .banner-info-right{
        height: 100%;
        .banner-info-vertical{
          @include vertical-align;

          p{
            font-size: 12px;
            a{
              font-size: 12px;
            }
          }          
        }

      }  
    }
    .loader {
      margin: 0 0 2em;
      height: 100px;
      width: 20%;
      text-align: center;
      padding: 1em;
      margin: 0 auto 1em;
      display: inline-block;
      vertical-align: top;
    }
    .loader svg path,
    .loader svg rect {
      fill: #cc0000;
    }

    .detalls-obra p {
      font-weight: 600;
      color: #FFF;
      font-size: 14px;
    }

    .sidebar-offcanvas {
      display: none;
    }
    .sidebar-offcanvas.active {
      display: block;
    }

    .retol{
        width: 100%;
        .retol-text h1 {
          font-size: 18px;
          padding: 11px 0 0 8px;
        }
    }
    .retol-2{
      width: 100%;
      .retol-text h1 {
        font-size: 18px;
        padding: 11px 8px;
      }      
    }


    .detall-info .titol {
      padding: 9px 15px;
    }    
  }
}

@media (min-width:768px) and (max-width:991px){

  body{
    .container{
      margin-right: auto;
      margin-left: auto;
      width: 100%;
      &.capcalera{
        padding: 0;
      }
    }
    

    .retol{
      .retol-text h1 {
        font-size: 19px;
        padding: 11px 0px 11px 8px;
      }
      .logo-Ajuntament{
        width: 96px;
      }
    }

    .retol-2{
        .retol-text h1 {
          font-size: 19px;
          padding: 11px 8px;
        }      
    }  

    .banner-info.main{
      .banner-info-left{
        height: 100%;
        padding: 0 2%;
        width: 45%;
        .banner-info-round{
          .banner-info-vertical{
            @include vertical-align;

            p{
              font-size: 14px;
            }          
          }
        } 
      }
      .banner-info-right{
        height: 100%;
        width: 55%;
        padding /*\**/: 9% 0 \9;
        .banner-info-vertical{
          @include vertical-align;

          p{
            font-size: 14px;
          }        
        }
      }  
    }   
    .banner-info.detail{
      margin: 13px 0 0 0;
      .banner-info-left{
        height: 100%;
        padding: 3% 0;
        .banner-info-round{
          p{
            font-size: 14px;
          }        
        } 
      }
      .banner-info-right{
        height: 100%;
        p{
          // margin: -16% -25%;
          font-size: 14px;
        }
      }  
    }

    .detall-info .titol {
      padding: 9px 15px;
    }     
  }
}

@media (min-width:992px) and (max-width:1199px){
  body{
    .retol{
      .retol-text{
        h1, .h1{
          font-size: 20px;
          padding: 11px 5px;
        }
      }
      .logo-Ajuntament{
        width: 83px;
      } 
    } 
    .retol-2{
      .retol-text{
        h1, .h1{
          font-size: 20px;
          padding: 11px 5px;
        }
      } 
    }    
    .banner-info.detail{
      margin: 13px 0 0 0;
      .banner-info-left{
        height: 100%;
        padding: 6% 0;
        .banner-info-round{
          .banner-info-vertical p{
             
             font-size: 13px;        
          }        
        } 
      }
      .banner-info-right{
        height: 100%;
        .banner-info-vertical{
          p{
            font-size: 13px;
          }
        }  
      }  
    }
  }    
}

