<div class="animated-show ng-hide" ng-show="activitat"><!-- container -->
    <div class="row">
      <div class="col-xs-12">
        <div class="navegacio-top">
            <a href ng-click="goBack()">
               <i class="fa fa-chevron-left"></i> {{'Torna al llistat'}}
            </a>
        </div>     
      </div>          
    </div> 

    <div class="row">
        <!--left col-->
        <div class="col-xs-12 col-is-6 col-sm-5 col-md-3 col-lg-3">
            <!-- <div class="modul-galeria" ng-if="images.length > 0">
                <section class="slider">
                    <flex-slider id="slider" 
                                slide="s in images track by $index"
                                animation="slide"
                                control-nav="false"
                                animation-loop="false"
                                slideshow="false"
                                sync="#carousel-slider">
                        <li>
                            <img class="pepito" ng-src="{{$root.basePath}}{{s.pathFoto}}" />
                            <p class="peu-foto">{{s[$root.peuFotoAttrKey]}}</p>
                        </li>
                    </flex-slider>

                    <!-- <flex-slider id="carousel" 
                                slide="s in images track by $index"
                                animation="slide"
                                control-nav="false"
                                animation-loop="false"
                                slideshow="false"
                                item-width="140"
                                item-margin="5"
                                as-nav-for="#slider-slider">
                        <li>
                            <img ng-src="{{$root.basePath}}{{s.pathFoto}}" />
                        </li>
                    </flex-slider>
                </section>
            </div>  -->

            <div ><!-- ng-if="images.length > 0" -->
                <img class="img-responsive" ng-src="{{basePath}}{{activitat.pathFoto || pathPhotoDefault}}" />
            </div>

            <div class="detall-img-info" style="background-color: {{activitat.areaConeixement.color}}">
                
                <div class="arrow-up"  style="border-bottom: 15px solid {{activitat.areaConeixement.color}};"></div>
                
                <div class="data-info" ng-if="activitat.nivellRecomanat">
                    <div>
                        <span class="key-info">Nivell recomanat:</span><br> 
                        <span class="valor-info" ng-bind-html="activitat.nivellRecomanat"></span>
                    </div>
                </div>

                <div class="data-info" ng-if="activitat.durada">
                    <div>
                        <span class="key-info">Durada:</span> <br>
                        <span class="valor-info"ng-bind-html="activitat.durada"></span>
                    </div>
                </div>
                
                <div class="data-info" ng-if="activitat.preu">
                    <div>
                        <span class="key-info">Preu:</span><br> 
                        <span class="valor-info" ng-bind-html="activitat.preu"></span>
                    </div>
                </div>
                
                <div class="data-info" ng-if="activitat.llocRealitzacio">
                    <div>
                        <span class="key-info">Lloc de realització:</span> 
                        <span class="valor-info" ng-bind-html="activitat.llocRealitzacio"></span>
                    </div>
                </div>
            </div>
              
            <div class="banner-info detail" >
                <div class="banner-info-left">
                  <div class="banner-info-round">
                      <div class="banner-info-vertical">
                        <p>Informació</p>
                               <p>i</p>
                           <p>reserves</p>
                      </div>
                  </div>

                </div>

                <div class="banner-info-right"> 
                    <div class="banner-info-vertical">
                        <span ng-if="activitat.telefonInformacioReserves" ng-bind-html="activitat.telefonInformacioReserves"></span>
                        <p>&nbsp;</p>
                        <span ng-if="activitat.mailInformacioReserves" ng-bind-html="activitat.mailInformacioReserves"></span>
                    </div>         
                </div>
            </div>
        </div>

        <!--middle col -->
        <div class="col-xs-12 col-is-6 col-sm-7 col-md-9 col-lg-9">
            <div class="detall-info">
                <div class="titol" ng-if="activitat.titol"  ng-bind-html="activitat.titol"></div>
            </div>    
        </div>

        <div class="col-xs-12 col-is-6 col-sm-7 col-md-6 col-lg-6">
            <div class="detall-info">
                <div class="subtitol" ng-if="activitat.subtitol"><p ng-bind-html="activitat.subtitol"></p></div>
                <div class="descripcio" ng-if="activitat.descripcio"><span ng-bind-html="activitat.descripcio"></span></div>
            </div>
                
            <div class="taller">
                <p>
                    <div ng-if="!activitat.tallers.length === 0 " class="titol-tallers">Tallers</div>
                    <div class="row">
                        <div class="col-xs-12 col-is-6 col-sm-6 col-md-4 col-lg-4" ng-repeat="taller in activitat.tallers">
                            <div class="taller-info modul-obra">
                                <div class="taller-foto">
                                    <img  matchheight 
                                          class="img-responsive" 
                                          ng-src="{{basePath}}{{taller.pathFoto || pathPhotoDefault}}">

                                    <div class="taller-plus" >
                                        <a  style="color: {{activitat.areaConeixement.color}}"
                                            class="color-hover"
                                            title="{{taller.titol}}"
                                            data-content="{{taller.descripcio}}"
                                            data-container="body"
                                            data-toggle="popover" 
                                            data-placement="bottom"
                                            html=true
                                            >
                                            <i class="glyphicon glyphicon-plus-sign">
                                                <div class="back-white"></div>
                                            </i>
                                        </a>
                                    </div>
                                    <div class="taller-titol">{{taller.titol}}</div>
                                </div>
            
                                <div class="taller-recomanat">{{taller.nivellRecomanat}}</div>
                            </div>

                            <!-- <div class="popover">
                                <div class="arrow"></div>
                                <h3 class="popover-title bg-solid-area-{{activitat.area_de_coneixement.id}}" >titulo</h3>
                                <div class="popover-content"></div>
                                <div class="popover-footer">
                                    <button type="button" class="btn btn-primary popover-submit">
                                        <i class="icon-ok icon-white"></i>
                                    </button>&nbsp;
                                    <button type="button" class="btn btn-default popover-cancel">
                                        <i class="icon-remove"></i>
                                    </button>
                                </div>
                            </div> -->

                        <script>
                        $( document ).ready(function() {                     


                            $('[data-toggle="popover"]').popover({
                                trigger : 'click',  
                                placement : 'bottom', 
                                html: 'true', 
                         
                            })
                            //   .on('shown', function() {
                            //     //hide any visible comment-popover
                            //     $("[rel=comments]").not(this).popover('hide');
                            //     var $this = $(this);
                            //     //attach link text
                            //     $('.popover-textarea').val($this.text()).focus();
                            //     //close on cancel
                            //     $('.popover-cancel').click(function() {
                            //         $this.popover('hide');
                            //     });
                            //     //update link text on submit
                            //     $('.popover-submit').click(function() {
                            //         $this.text($('.popover-textarea').val());
                            //         $this.popover('hide');
                            //     });
                            //  });

                        });
                        </script>

                        </div>
                    </div>
                </p>
            </div>
        </div>

        <!--right col-->
        <div class="col-xs-12 col-is-6 col-sm-7 col-md-3 col-lg-3">
            <div ng-if="activitat.observacions">
                <div class="titol-observacions" style="background-color:{{activitat.areaConeixement.color}};">
                    <div class="arrow-up" style="border-bottom: 15px solid {{activitat.areaConeixement.color}};"></div>
                    Observacions
                </div> 
                <div class="text-observacions"><p ng-bind-html="activitat.observacions"></p></div>
            </div>

            <div ng-if="!activitat.materialDidactics.length === 0">
                <div class="titol-observacions" style="background-color:{{activitat.areaConeixement.color}};">
                    <div class="arrow-up" style="border-bottom: 15px solid {{activitat.areaConeixement.color}};"></div>
                    Materials Didàctics
                </div> 

                <div class="wrap-text-materials">
                    <div class="text-materials" ng-repeat="material in activitat.materialDidactics">

                        <p ng-if="material.url && material.titol">
                            <a style="color:{{activitat.areaConeixement.color}};" 
                               href="{{material.url}}" 
                               target="_blank" 
                               ng-bind-html="material.titol">
                            </a>
                        </p>

                        <p ng-if="material.pathFoto">
                            <a magnificpopup 
                               style="color:{{activitat.areaConeixement.color}};" 
                               class="image-popup-vertical-fit" 
                               ng-href="{{basePath}}{{activitat.pathFoto || pathPhotoDefault}}" 
                               >Veure imatge
                            </a> 
                        </p>

                        <p ng-if="material.pathPdfInformacio">
                            <a style="color:{{activitat.areaConeixement.color}};" 
                               href="http://portals.ajuntament.gava.cat{{material.pathPdfInformacio}}" 
                               target="_blank" 
                               >Document (.pdf)
                            </a>
                        </p>

                    </div>                    
                </div>    

            </div>       
        </div>
 
    </div>       
</div>