<div class="animated-show ng-hide" ng-show="activitat"><!-- container -->
    <div class="row">

      <div class="col-xs-6">
        <div class="navegacio-top torna">  
            <a href ng-show="userAgent() == 'isiPad'" ng-click="goHome()" title="Torna al llistat">
               <i class="fa fa-chevron-left"></i> {{'Torna al llistat'}}
            </a>
            <a href ng-show="userAgent() !== 'isiPad'" ng-click="goBack()" title="Torna al llistat">
               <i class="fa fa-chevron-left"></i> {{'Torna al llistat'}}
            </a>                                
        </div>     
      </div>  

      <div class="col-xs-6">
        <div class="navegacio-top torna">
            <a href ng-click="print()" class="pull-right" title="Imprimir Fitxa">
               <i class="fa fa-print"></i> {{'Imprimir Fitxa'}}
            </a>
        </div>
      </div>        
    </div> 

    <div class="row">
        <!--foto e info-->
        <div class="col-xs-12 col-is-6 col-sm-5 col-md-3 col-lg-3">
            
            <!-- only on xs-->
            <div class="detall-info visible-xs">
                <div class="titol" ng-if="activitat.titol"  ng-bind-html="activitat.titol"></div>
            </div> 
            <!-- -->

            <div class="detall-img">
                <div class="peu-info" ng-if="activitat.peuFoto" ng-bind-html="activitat.peuFoto"></div>
                <!--<img class="img-responsive" ng-src="{{$root.baseGavaPath}}{{activitat.pathFoto}}" />-->
                <img class="img-responsive" ng-src="{{$root.baseGavaPath + activitat.pathFoto }}" err-src="{{$root.pathPhotoDefault}}" />
            </div>

            <div ng-if="activitat.areaConeixement">
              <div class="detall-img-info" ng-style="{'background-color': '{{ activitat.areaConeixement.color }}'}">

                <div class="arrow-up"  ng-style="{'border-bottom':'15px solid {{activitat.areaConeixement.color}}'}"></div>
                
                <div class="data-info" ng-if="activitat.nivellRecomanat">
                        <span class="key-info">Nivell recomanat:</span><br> 
                        <span class="valor-info" ng-bind-html="activitat.nivellRecomanat"></span>
                </div>

                <div class="data-info" ng-if="activitat.durada">
                    <div>
                        <span class="key-info">Durada:</span> <br>
                        <span class="valor-info" ng-bind-html="activitat.durada"></span>
                    </div>
                </div>
                
                <div class="data-info" ng-if="activitat.preu">
                    <div>
                        <span class="key-info">Preu:</span><br> 
                        <span class="valor-info" ng-bind-html="activitat.preu"></span>
                    </div>
                </div>
                
                <div class="data-info" ng-if="activitat.llocRealitzacio">
                    <div>
                        <span class="key-info">Lloc de realització:</span> 
                        <span class="valor-info" ng-bind-html="activitat.llocRealitzacio"></span>
                    </div>
                </div>
              </div>
            </div>   

            <div class="banner-info detail hidden-xs" >
                <div class="banner-info-left">
                  <div class="banner-info-round">
                      <div class="banner-info-vertical">
                        <p>Informació</p>
                               <p>i</p>
                           <p>reserves</p>
                      </div>
                  </div>
                </div>

                <div class="banner-info-right"> 
                    <div class="banner-info-vertical">
                        <span ng-if="activitat.telefonInformacioReserves" ng-bind-html="activitat.telefonInformacioReserves"></span>
                        <p>&nbsp;</p>
                        <span ng-if="activitat.mailInformacioReserves" ng-bind-html="activitat.mailInformacioReserves"></span>
                    </div>         
                </div>
            </div>
        </div><!-- col -->

        <!-- titol -->
        <div class="col-xs-12 col-is-6 col-sm-7 col-md-9 col-lg-9">
            <div class="detall-info hidden-xs">
                <div class="titol" ng-if="activitat.titol"  ng-bind-html="activitat.titol"></div>
            </div>    
        </div>

        <!-- descripcio -->
        <div class="col-xs-12 col-is-6 col-sm-7 col-md-6 col-lg-6">
            <div class="detall-info">
                <div class="subtitol" ng-if="activitat.subtitol"><p ng-bind-html="activitat.subtitol"></p></div>
                <div class="descripcio" ng-if="activitat.descripcio"><span ng-bind-html="activitat.descripcio"></span></div>
            </div>
                
            <div class="taller">
                    <div ng-if="activitat.tallers.length > 0" class="titol-tallers">Tallers</div>
                    
                    <div class="row">
                        <div class="col-xs-12 col-is-12 col-sm-6 col-md-6 col-lg-6 matchcol" 
                             ng-repeat="taller in activitat.tallers">
                            
                            <div class="taller-info modul-obra">
                                <div class="taller-foto">
                                    <img  matchheight 
                                          class="img-responsive" 
                                          ng-src="{{$root.baseGavaPath + taller.pathFoto }}" err-src="{{$root.pathPhotoDefault}}"
                                          ><!--ng-src="{{$root.baseGavaPath}}{{taller.pathFoto}}"-->

                                    <div class="taller-plus" ><!--title="{{taller.titol}}" style="color: {{activitat.areaConeixement.color}}"-->
                                        <a  
                                            ng-style="{'color': mycolor }" ng-init="mycolor=activitat.areaConeixement.color"
                                            ng-mouseleave="mycolor = activitat.areaConeixement.color" 
                                            ng-mouseenter="mycolor = $root.colorDarken(activitat.areaConeixement.color, -10)"
                                            class="color-hover" 
                                            class="btn" 
                                            data-unique="{{taller.id}}" 
                                            data-placement="bottom" 
                                            data-container=".taller" 
                                            data-title="{{taller.titol}}" 
                                            data-content="{{taller.descripcio}}"
                                            data-template-url="templates/popover-tmp.html"
                                            data-auto-close="1"
                                            data-delay: {show:500, hide:100}
                                            bs-popover >
                                            <i class="glyphicon glyphicon-plus-sign">
                                                <div class="back-white"></div>
                                            </i>
                                        </a>     
                                    </div>

                                    <div class="taller-titol">{{taller.titol}}</div>
                                </div> 

                                <div class="taller-recomanat">{{taller.nivellRecomanat}}</div>
                            </div>

                        </div><!--col-->
                    </div><!--row-->
            </div><!--taller-->
        </div><!--col-->

        <!-- obsevacions / materials -->
        <div class="pull-right col-xs-12 col-is-6 col-sm-7 col-md-3 col-lg-3">
            
            <div ng-if="activitat.observacions">
                <div class="titol-observacions" ng-style="{'background-color': '{{ activitat.areaConeixement.color }}'}">
                    <div class="arrow-up" ng-style="{'border-bottom':'15px solid {{activitat.areaConeixement.color}}'}"></div>
                    Observacions
                </div> 
                <div class="text-observacions">
                    <p>
                        <span ng-bind-html="activitat.observacions"></span>
                    </p>
                </div>
            </div>

            <div ng-if="activitat.materialDidactics.length > 0" >
                <div class="titol-observacions" ng-style="{'background-color': '{{ activitat.areaConeixement.color }}'}">
                    <div class="arrow-up" ng-style="{'border-bottom':'15px solid {{activitat.areaConeixement.color}}'}"></div>
                    Materials Didàctics
                </div> 

                <div class="wrap-text-materials">
                    <div class="text-materials" ng-repeat="material in activitat.materialDidactics">

                        <p ng-if="material.url && material.titol">
                            <i class="fa fa-external-link" ng-style="{'color':'{{activitat.areaConeixement.color}}'}"></i>
                            <a ng-style="{'color':'{{activitat.areaConeixement.color}}'}"  
                               href="{{material.url}}" 
                               target="_blank" 
                               ng-bind-html="material.titol">
                            </a>
                        </p>

                        <p ng-if="material.pathFoto && material.titol">
                            <i class="fa fa-picture-o" ng-style="{'color':'{{activitat.areaConeixement.color}}'}"></i>
                            <a magnificpopup 
                               ng-style="{'color':'{{activitat.areaConeixement.color}}'}"
                               class="image-popup-vertical-fit" 
                               ng-href="{{baseGavaPath}}{{material.pathFoto}}" 
                               ng-bind-html="material.titol">
                            </a> 
                        </p>

                        <p ng-if="material.pathPdfInformacio && material.titol">
                            <i class="fa fa-file-text-o" ng-style="{'color':'{{activitat.areaConeixement.color}}'}"></i>
                            <a ng-style="{'color':'{{activitat.areaConeixement.color}}'}"
                               href="http://portals.ajuntament.gava.cat{{material.pathPdfInformacio}}" 
                               target="_blank" 
                               ng-bind-html="material.titol">
                            </a>
                        </p>

                    </div>                    
                </div>    
            </div>  

            <div class="banner-info detail visible-xs" >
                <div class="banner-info-left">
                  <div class="banner-info-round">
                      <div class="banner-info-vertical">
                        <p>Informació</p>
                               <p>i</p>
                           <p>reserves</p>
                      </div>
                  </div>
                </div>

                <div class="banner-info-right"> 
                    <div class="banner-info-vertical">
                        <span ng-if="activitat.telefonInformacioReserves" ng-bind-html="activitat.telefonInformacioReserves"></span>
                        <p>&nbsp;</p>
                        <span ng-if="activitat.mailInformacioReserves" ng-bind-html="activitat.mailInformacioReserves"></span>
                    </div>         
                </div>
            </div> 
        </div><!--col-->
 
    </div>       
</div>