<div class=" animated-show ng-hide" ng-show="activitat"><!-- container -->
    <div class="row">
      <div class="col-xs-12">
        <div class="navegacio-top">
            <a href ng-click="goBack()">
               <i class="fa fa-chevron-left"></i> {{'Torna al llistat'}}
            </a>
        </div>     
      </div>          
    </div> 

    <div class="row">

        <!--left col-->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
            <!-- <div class="modul-galeria" ng-if="images.length > 0">
                <section class="slider">
                    <flex-slider id="slider" 
                                slide="s in images track by $index"
                                animation="slide"
                                control-nav="false"
                                animation-loop="false"
                                slideshow="false"
                                sync="#carousel-slider">
                        <li>
                            <img class="pepito" ng-src="{{$root.basePath}}{{s.pathFoto}}" />
                            <p class="peu-foto">{{s[$root.peuFotoAttrKey]}}</p>
                        </li>
                    </flex-slider>

                    <!-- <flex-slider id="carousel" 
                                slide="s in images track by $index"
                                animation="slide"
                                control-nav="false"
                                animation-loop="false"
                                slideshow="false"
                                item-width="140"
                                item-margin="5"
                                as-nav-for="#slider-slider">
                        <li>
                            <img ng-src="{{$root.basePath}}{{s.pathFoto}}" />
                        </li>
                    </flex-slider>
                </section>
            </div>  -->

            <div ng-if="images.length > 0">
                <img class="img-responsive" ng-src="{{$root.basePath}}{{images[0].pathFoto}}" />
            </div>

            <div class="detall-img-info bg-solid-area-{{activitat.area_de_coneixement.id}}">
                
                <div class="arrow-up border-area-{{activitat.area_de_coneixement.id}}"></div>
                
                <div class="data-info" ng-if="activitat.nivell_recomenat">
                    <div><span class="key-info">Nivell recomanat:</span><br> <span class="valor-info">{{activitat.nivell_recomenat}}</span></div>
                </div>

                <div class="data-info" ng-if="activitat.durada">
                    <div><span class="key-info">Durada:</span> <span class="valor-info">{{activitat.durada}}</span></div>
                </div>
                
                <div class="data-info" ng-if="activitat.preu">
                    <div><span class="key-info">Preu:</span> <span class="valor-info">{{activitat.preu}}</span></div>
                </div>
                
                <div class="data-info" ng-if="activitat.lloc">
                    <div><span class="key-info">Lloc de realitzación:</span> <span class="valor-info" ng-bind-html="activitat.lloc"></span></div>
                </div>
            </div>
                    
            <div class="banner-info">
                <div class="banner-info-left">
                    <div class="banner-info-round">
                        <p><a href="telto:+34932639610">93 263 96 10</a><br>&nbsp;<br><a href="mailto:museu@gava.cat">museu@gava.cat</a></p>
                    </div>
                </div>

                <div class="banner-info-right">  
                    <div class="banner-info-text">        
                        <p>Informació<br>i<br>reserves</p>
                    </div>    
                </div>
            </div>

        </div>

        <!--middle col -->
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

            <div class="detall-info">
                <div class="titol" ng-if="activitat.titol">{{activitat.titol}}</div>
                <div class="subtitol" ng-if="activitat.subtitol"><p>{{activitat.subtitol}}</p></div>
                <div class="descripcio" ng-if="activitat.descripcio"><p>{{activitat.descripcio}}</p></div>
            </div>
                
            <div class="taller">
                <p>
                    <div class="titol-tallers">Tallers</div>
                    <div class="row">

                        <div class="col-xs-4 col-md-4" ng-repeat="taller in activitat.tallers">
                            <div class="taller-info">
                                <div class="taller-foto">
                                    <img class="img-responsive" ng-src="{{$root.basePath}}{{taller.imatge}}">
                                    <div class="taller-plus" >
                                        <a  class="color-area-{{activitat.area_de_coneixement.id}}" 
                                            ng-href="{{$root.getDetailPath(activitat.codi)}}" 
                                            title="Veure més detalls."
                                            data-container="body"
                                            class="btn btn-lg btn-danger" 
                                            data-toggle="popover" 
                                            data-placement="bottom"
                                            title="{{taller.titol}}" 
                                            data-content="{{activitat.descripcio}}">
                                            <i class="glyphicon glyphicon-plus-sign">
                                                <div class="back-white"></div>
                                            </i>
                                        </a>
                                    </div>
                                    <div class="taller-titol">{{taller.titol}}</div>
                                </div>
            
                                <div class="taller-recomanat">{{taller.nivell_recomenat}}</div>
                            </div>

<script>
$( document ).ready(function() {
    $(function () {
      $('[data-toggle="popover"]').popover();
    })
});
</script>

                        </div>

                    </div>
                </p>
            </div>

        </div>

        <!--right col-->
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">

            <div class="" ng-if="activitat.observacions">
                <div class="titol-bar">&nbsp</div>
                
                <div class="titol-observacions bg-solid-area-{{activitat.area_de_coneixement.id}}">
                    <div class="arrow-up border-area-{{activitat.area_de_coneixement.id}}"></div>
                    Observacions
                </div> 
                <div class="text-observacions"><p>{{activitat.observacions}}</p></div>
            </div>

            <div class="" ng-if="activitat.material_didactic">
                <div class="titol-observacions bg-solid-area-{{activitat.area_de_coneixement.id}}">
                    <div class="arrow-up border-area-{{activitat.area_de_coneixement.id}}"></div>
                    Material didàctic</div> 
                <div class="text-observacions"><p ng-bind-html="activitat.material_didactic"></p></div>
            </div>
                    
        </div>
                    <!-- <a ng-href="{{pdfLink()}}" title="Guardar en pdf"><i class="fa fa-file-pdf-o"></i></a>
                    <a ng-href="{{pdfLink()}}" title="Guardar en pdf"><i class="fa fa-link"></i></a>
                    <a ng-href="{{pdfLink()}}" title="Guardar en pdf"><i class="fa fa-file-pdf-o"></i></a>
                    <a ng-href="{{pdfLink()}}" title="Guardar en pdf"><i class="fa fa-file-pdf-o"></i></a> -->
 
    </div>       
</div>