<div class="col-xs-12 col-sm-8 col-lg-9">

  <div class="row">
    
    <div class="col-sm-6 col-md-4" ng-repeat="activitat in $parent.filteredWorks = (activitats | filter:activitatsFilter) | paginate:rowsPerPage">
       <article class="modul-obra" ng-mouseenter="hover=true" ng-mouseleave="hover=false">
        
        <div style="position:relative">
          <a ng-href="{{$root.getDetailPath(activitat.codi)}}" title="">
            <img matchheight ng-src="{{$root.basePath}}{{activitat.foto1.pathFoto}}" alt="" class="imatge-modul-obra img-responsive">
          </a>

          <div class="detall-titol bg-area-{{activitat.area_de_coneixement.id}}">
            <p>{{activitat.titol}}</p>
          </div>

          <div class="detall-plus">
            <a class="color-area-{{activitat.area_de_coneixement.id}}" ng-href="{{$root.getDetailPath(activitat.codi)}}" title=""><i class="fa fa-plus-circle"></i></a>
          </div>

          <div class="detalls-obra" ng-class="{'veure-detalls': hover}">
            <p>Nivell: {{activitat.nivell}}<br>
               Durada: {{activitat.durada}}<br>
               Preu: {{activitat.preu}}</p>
            <!-- <span>
              <a ng-href="{{$root.getDetailPath(activitat.codi)}}" title=""><i class="fa fa-plus-circle"></i></a>
            </span> -->
          </div> 

        </div>

        <header class="R-infoDestacat">
          <h1 class="titol"><!-- <a ng-href="{{$root.getDetailPath(activitat.codi)}}" title="">{{activitat.titol}}</a> --></h1>
        </header>

      </article>
    </div> 
  </div> 

</div><!--col-->

<div class="col-xs-12 col-sm-4 col-lg-3">
    <div class="materials">Materials Dicactics</div>
</div>
