<div class="row row-offcanvas row-offcanvas-left">
  <div class="col-xs-12 col-sm-12 col-md-12   hidden-sm hidden-md hidden-lg">
    <button  ng-click="sidebarActive = !sidebarActive" type="button" class="btn btn-primary cap-xs" data-toggle="offcanvas" translate>Cercar activitats</button>
  </div>
</div> 

<div class="row">
  <div class="sidebar-offcanvas" id="sidebar" ng-class="{'active':sidebarActive}">
    <div class="modul-filtres" ng-include="'templates/filters.html'"></div>
  </div>
</div>

<div clas="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="header-resultats">
      <p translate-n="filteredWorks.length" 
         translate-plural="Hi ha <strong>{{$count}}</strong> activitats" 
         translate>Hi ha <strong>1</strong> activitat
      </p>
    </div>
  </div>  
</div>

<div class="row row-offcanvas row-offcanvas-left" ng-include="'templates/element_grid.html'"></div>

<div class="row row-offcanvas row-offcanvas-left"><paginator></paginator></div>           

<div class="row">
    <div class="banner-info detail visible-xs" >
        <div class="banner-info-left">
          <div class="banner-info-round">
              <div class="banner-info-vertical">
                <p>Informació</p>
                       <p>i</p>
                   <p>reserves</p>
              </div>
          </div>
        </div>

        <div class="banner-info-right"> 
            <div class="banner-info-vertical">
                <p>
                    <a href="telto:+34932639610">
                       <i class="fa fa-phone hidden-sm"></i> 93 263 96 10
                     </a>
                  <p>
                <p>&nbsp;</p>
                <p>
                    <a href="mailto:museu@gava.cat">
                      <i class="fa fa-envelope hidden-sm"></i> museu@gava.cat
                    </a>
                  </p>
            </div>         
        </div>
    </div>
</div>