<div class="popover animated-show" tabindex="-1" ng-show="content" style=" "
     >
  <div class="arrow"></div>            
  <!--<div  ng-style="{ 'border-bottom:': '{{activitat.areaConeixement.color}}' }"></div>-->
  
  <i class="fa fa-times" ng-click="$hide()" title="Tancar"
  	 style="position: absolute;
            color: #fff;
            position: absolute;
            right: 0;
            padding: 5px 9px 7px 5px;
            font-size: 19px;
            cursor: pointer;"	>
  </i>

  <h3 class="popover-title" 
      ng-bind-html="title" 
      ng-show="title" 
      ng-style="{
        'background-color': '{{activitat.areaConeixement.color}}',
        'color': '#fff',
        'font-weight': '700'
      }">
  </h3>
  
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content" ></p><!--style="min-width:300px;"-->
    </form>
  </div>

</div>

