<div class="popover animated-show" tabindex="-1" ng-show="content" style="">
  
  <div ng-if="activitat.areaConeixement.color">
    <div class="" ng-style="{
        'border-bottom': '15px solid {{activitat.areaConeixement.color}}',
        'margin': '0 -15px',
        'width': '0px',
        'height': '0px',
        'border-left': '15px solid transparent',
        'border-right': '15px solid transparent',
        'position': 'absolute',
        'top': '-14px',
        'left': '50%'
      }">
    </div> 
  </div>           
  <!--,
    /*,
    ,
    'position': 'absolute',
    'left': '50%',
    'top': '-15px',
    ,
    
    ;
    'border-left': '15px solid transparent',
    'border-right': '15px solid transparent'*/
    -->
  
  <i class="fa fa-times" ng-click="$hide()" title="Tancar"
  	 style="position: absolute;
            color: #fff;
            position: absolute;
            right: 0;
            padding: 7px 11px 7px 5px;
            font-size: 19px;
            cursor: pointer;"	>
  </i>

  <h3 class="popover-title" 
      ng-bind-html="title" 
      ng-show="title" 
      ng-style="{
        'background-color': '{{activitat.areaConeixement.color}}',
        'color': '#fff',
        'font-weight': '700',
        'padding': '13px 14px'
      }">
  </h3>
  
  <div class="popover-content">
    <form name="popoverForm">
      <p ng-bind-html="content" ></p><!--style="min-width:300px;"-->
    </form>
  </div>

</div>

